:root {
--color-primary: #212121;
--color-secondary: #757575;
--color-background: #FFFFFF;
--color-link: #2196F3;
--color-background-icon: #AFB1B8;
--social-icon-background: rgba(255, 255, 255, 0.1);
--section-background: #2F303A;
--input-border: rgba(33, 33, 33, 0.2);
--footer-input-border: rgba(255, 255, 255, 0.3)
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

body {
color: var(--color-primary);
background-color: var(--color-background);
font-family: "Roboto", sans-serif;
letter-spacing: 0.03em;
font-weight: 400;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
padding: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

ul {
list-style-type: none;
padding-left: 0px;
margin: 0px;
}

section {
padding-top: 94px;
padding-bottom: 94px;
background-color: #fff;
}

/* CONTAINER */
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}


/* Header */
.header {
display: flex;
border-bottom: 1px solid #ECECEC;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__nav {
flex-grow: 1;
display: flex;
align-items: center;
}


.header__menu {
display: flex;
justify-content: space-between;
gap: 50px;
margin-left: 93px;
}

.header-menu2 {
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
margin-left: auto;
}




.web-title {
font-size: 26px;
font-weight: 700;
font-style: normal;
font-family: "Raleway";
line-height: 1.15;
color: var(--color-link);
text-decoration: none;
padding: 25px 0px;
}

.studio {
color: var(--color-primary);
}


.header__link {
position: relative;
display: block;
color: var(--color-primary);
text-decoration: none;
letter-spacing: 0.02em;
line-height: 1.14;
font-weight: 500;
font-size: 14px;
padding: 32px 0;
transition: color 250ms, fill 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--current {
	color: var(--color-link);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
color: var(--color-link);
}

.header__link::after {
position: absolute;
display: block;
opacity: 0;
width: 100%;
height: 4px;
background-color: var(--color-link);
content: '';
transition: opacity 250ms;
bottom: -1px;
border-radius: 2px;
}

.header__link--current::after {
opacity: 1;
}

.header__link2 {
display: flex;
flex-direction: row-reverse;
align-items: center;
color: #757575;
background-color: #FFFFFF;
font-size: 14px;
font-weight: 500;
font-style: normal;
letter-spacing: 0.02em;
padding: 32px 0px 32px 0px;
text-decoration: none;
gap: 10px;
transition: color 250ms, fill 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link2:hover,
.header__link2:focus,
.header__link2:active{
color: var(--color-link);
}

.header__link2:hover,
.header__link2:focus,
.header__link2:active .header__link2-icon{
fill: var(--color-link);
}

.header__link2:hover .header__link2-icon-tel {
fill: var(--color-link);
}


/* Hero */

.hero {
max-width: 1600px;
background-color: #2F303A;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
margin-left: auto;
margin-right: auto;
background-image: 
linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
url("../images/img.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: auto;
}

.hero__title {
font-size: 44px;
color: #FFFFFF;
line-height: 1.36;
text-transform: uppercase;
letter-spacing: 0.06em;
font-weight: 900;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

.primary-button {
color: #FFFFFF;
background-color: var(--color-link);
font-size: 16px;
border: 0;
line-height: 1.9;
font-weight: 700;
letter-spacing: 0.06em;
cursor: pointer;
padding: 10px 32px;
border-radius: 4px;
transition: color 250ms, fill 250ms, background-color 250ms, box-shadow 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* advantages */
.advantages{
padding-top: 94px;
padding-bottom: 0px;
}

.advantages-list {
display: flex;
justify-content: space-between;
padding-left: auto;
padding-right: auto;
gap: 30px;
}

.advantages-list-img{
display: flex;
align-items: center;
justify-content: center;
width: 270px;
height: 120px;
fill: var(--color-primary);
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}

.section-advantages-description {
color: #757575;
background-color: var(--color-background);
font-size: 14px;
line-height: 1.7;
}

.section-advantages-title {
color: var(--color-primary);
background-color: var(--color-background);
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}

.what-do-we-do {
color: var(--color-primary);
background-color: var(--color-background);
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
font-weight: 700;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
text-align: center;
}

.what-do-we-do-card {
/* position: relative; */
display: flex;
gap: 30px;
margin: 0;
}


.what-do-we-do-card-insert{
position: relative;
}
.what-do-we-do-card-background {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 70px;
padding-top: 27px;
color: var(--color-background);
background-color: rgba(47, 48, 58, 0.8);

letter-spacing: 0.03em;
font-weight: 700;
font-size: 14px;
line-height: 1.17;
text-align: center;
text-transform: uppercase;
}

.regular-customers{
color: var(--color-primary);
background-color: var(--color-background);
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
font-weight: 700;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
text-align: center;
transition: color 250ms, fill 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon:hover,
.regular-customers-icon:focus{
fill:var(--color-link);
background-color: var(--color-background);
}

.regular-customers-card{
display: flex;
justify-content: space-between;
padding-left: auto;
padding-right: auto;
gap: 30px;
border: inherit;
}

.customers-cards {
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
fill: #F5F4FA;
background-color:var(--color-background);
border-radius: 4px;
border: 1px solid #AFB1B8;
gap: 30px;
transition: color 250ms, fill 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-cards:hover,
.customers-cards:focus,
.customers-cards:active{
border: 1px solid #2196F3;
}

.regular-customers-icon{
fill: var(--color-background-icon);
transition: color 250ms, fill 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-cards:hover .regular-customers-icon,
.customers-cards:focus .regular-customers-icon{
fill: #2196F3;
}

.team {
background-color: #F5F4FA;
padding-top: 94px;
padding-bottom: 94px;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.name {
background-color: var(--color-background);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.section-team {
color: var(--color-primary);
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
font-weight: 700;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
text-align: center;
}

.team-name {
color: var(--color-primary);
background-color: var(--color-background);
font-size: 16px;
font-weight: 500;
line-height: 1.13;
margin-bottom: 10px;
}

.card-name {
display: flex;
padding: 0px;
margin: 0px;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.card-name-list{
padding-top: 30px;
padding-bottom: 30px;
padding-left: 0px;
gap: 30px;
}

.team-specialty {
color: #757575;
background-color: var(--color-background);
font-size: 16px;
line-height: 1.13;
}

.socials-list-team {
display: flex;
align-items: center;
gap: 10px;
justify-content: center;
padding-top: 16px;
}

.socials-link-team {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
fill: var(--color-background-icon);
background-color: var(--social-icon-background);
border-radius: 50%;
transition: fill 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-team:hover, 
.socials-link-team:focus {
background-color: var(--color-link);
}

.socials-icon{
fill: var(--color-background-icon);
}

.socials-link-team:hover .socials-icon,
.socials-link-team:focus .socials-icon 
{fill: var(--color-background);}


.studio2 {
color: #FFFFFF;
}

/* FOOTER */
.footer {
border-top: 60px;
background-color: #2F303A;
margin-left: auto;
margin-right: auto;
padding-top: 60px;
padding-bottom: 60px;
}

.footer .container {
display: flex;
align-items: baseline;
}

.web-title-footer {
display: flex;
font-size: 26px;
font-weight: 700;
font-style: normal;
font-family: "Raleway",
sans-serif;
color: var(--color-link);
text-decoration: none;
line-height: 1.17;
margin-bottom: 20px;;
}

.link-footer-map {
color: #FFFFFF;
background-color: #2F303A;
font-size: 14px;
font-weight: 500;
font-style: normal;
text-decoration: none;
line-height: 1.7;
margin-bottom: 9px;
}

.li-footer{
margin-bottom: 9px;
}

.footer-href-map:hover,
.link-footer-map:focus,
.link-footer-map:active {
color: var(--color-link);
}

.link-footer {
color: #757575;
font-size: 14px;
font-weight: 400;
font-style: normal;
text-decoration: none;
line-height: 1.7;
}

.link-footer:hover,
.link-footer:focus,{
color: var(--color-link);
}


/* Socials */
.section-social-list{
color: var(--color-background);
background-color: var(--section-background);
font-weight: 700;
font-size: 14px;
line-height: 1.17;
text-transform: uppercase;
margin-bottom: 20px;
letter-spacing: 0.03em;

}

.socials-list-footer{
margin-left: 70px;
}
.socials-list{
display: flex;
align-items: center;
gap: 10px;
}

.socials-link{
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
fill: var(--color-background);
background-color: var(--social-icon-background);
border-radius:50%;
transition: background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus{
background-color: var(--color-link);
fill: var(--color-background);
}

.button-portfolio {
color: var(--color-primary);
background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
border: 0;
line-height: 1.6;
letter-spacing: 0.03em;
font-family: inherit;
cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
transition: color 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
color: #FFFFFF;
background-color: var(--color-link);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-portfolio {
font-weight: 400;
font-size: 16px;
background-color: var(--color-background);
color: var(--color-secondary);
line-height: 1.88;
letter-spacing: 0.03em;
}

.portfolio-title {
font-size: 18px;
background-color: var(--color-background);
color: var(--color-primary);
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
}

.ul-button{
display: flex;
justify-content: center;
margin-top: 0px;
margin-bottom: 50px;
gap: 8px;
margin-left: auto;
margin-right: auto;

}


/* CARD-SET */
.portfolio-card{
}

.card-set {
padding: 0;
margin: 0;

list-style: none;
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.card{
/* position: relative; */
display: block;
text-decoration: none;
transition: color 250ms, fill 250ms, background-color 250ms, box-shadow 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
overflow: hidden;
}
.card:hover, 
.card:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-heading {
font-size: 18px;
background-color: var(--color-background);
color: var(--color-primary);
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
}

.card-text {
color: var(--color-secondary)
}

.card-insert{
position: relative;
overflow: hidden;
}

.card-content {
/* position: absolute;*/
padding: 20px 24px;
border: 1px solid #EEEEEE;
border-top: 0px;
}

.card-description{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 63px 24px;
color: var(--color-background);
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(101%);
transition: transform 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-description{
transform: translateY(0);
}

/* MODAL */
.backdrop{
background-color: rgba(0, 0, 0, 0.2);
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
transition: opacity 250ms, visibility 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;


}

.modal-h2 {
font-weight: 700;
font-size: 20px;
letter-spacing: 0.03em;
line-height: 1.17;
text-align: center;
margin-bottom: 12px;
}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 528px;
max-height: 581px;
height: 100%;
background-color: var(--color-background);
overflow: hidden;
padding: 40px;
}

.modal-close-button {
position: absolute;
top: 8px;
right: 8px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
width: 30px;
height: 30px;
fill: color #000000;
background-color: var(--social-icon-background);
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: color 250ms, fill 250ms, background-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus,
.modal-close-button:hover {
fill: var(--color-link);
}

/* Form */

.form-label{
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--color-secondary);
margin-bottom: 4px;
}

.form-control{
position: relative;
margin-bottom: 10px;
}

.form-input{
width: 100%;
padding: 12px 12px 12px 32px;
border: 1px solid var(--input-border);
border-radius: 4px;
outline: none;
fill: var(--color-primary);
}

.form-input:focus {
border-color: var(--color-link);
transition: border-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 12px;
}

.form-control:focus-within .form-icon {
fill: var(--color-link);
transition: fill 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
width: 100%;
padding: 12px;
border: 1px solid var(--input-border);
border-radius: 4px;
outline: none;
height: 120px;
resize: none;
}

.form-textarea:focus {
border-color: var(--color-link);
transition: border-color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Checkbox */
.checkbox-input{
appearance: none;
}

.checkbox-label{
position: relative;
padding-left: 24px;
font-weight: 400;
font-size: 14px;
letter-spacing: 00.03em;
line-height: 1.71;
color: var(--color-secondary);
text-align: center;
}

.checkbox-label::before {
position: absolute;
content: '';
top: 0;
left: 0;
width: 16px;
height: 15px;
border: 2px solid black;
border-radius: 2px;
}

.checkbox-label::after {
position: absolute;
content: '';
top: 0;
left: 0;
width: 16px;
height: 15px;
border: 2px solid var(--color-link);
border-radius: 2px;
background-image: url('../images/Vector.svg');
background-color: var(--color-link);
fill: var(--color-background);
opacity: 0;
}

.checkbox-input:checked + .checkbox-label::after{
opacity: 1;
}

.checkbox-control{
display: block;
justify-content: center;
text-align: center;
margin-top: 20px;
}

.form-button{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

.checkbox-link{
color: var(--color-link);
}

/* Email-input */
.email-input-h2 {
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
line-height: 1.17;
text-align: left;
text-transform: uppercase;
color: var(--color-background);
}

.email-input {
display: block;
margin-left: 93px;
width: 570px;
height: 86px;
background-color: var(--section-background);
padding: 0px;
}

/* Form-email */
.footer-label{
display: flex;
justify-content: space-between;
}

.contact-form{
	display: flex;
}

.form-email-label {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--color-secondary);
margin-bottom: 4px;
}

.form-email-input {
width: 358px;
height: 50px;
padding: 16px 15px;
border: 1px solid var(--footer-input-border);
border-radius: 4px;
outline: none;
fill: var(--color-primary);
background-color: var(--section-background);
}

.form-footer-icon {
position: relative;
left: 10px;
fill: var(--color-background);
background-color: var(--color-link);
top: 50%;
transform: translateY(-50%);
}

.form-footer-button {
display: flex;
margin-left: 12px;
margin-right: auto;
width: 200px;
height: 50px;
padding: 10px 28px;
}

